@import "tailwindcss";
@import "../styles/design-tokens.css";

@theme {
  --color-primary: #0A192F;
  --color-accent: #F59E0B;
  --font-family-sans: "Poppins", sans-serif;
  --font-family-serif: "Lora", serif;
}
